---
import Card from './Card.astro';
import Avatar from './Avatar.astro';
import { AUTHOR } from '@/consts';
import OutsideLink from '@/components/OutsideLink.astro'
import { Icon } from 'astro-icon/components';
import Iconfont from './Iconfont.astro';
import Popup from './HoverPopup.astro';
interface Props {
  'class'?: string;
}

const className = Astro.props[`class`] || '';
---

<Card class={`flex flex-col items-center gap-20 shadow p-22 ${className}`}>
  <Avatar src={AUTHOR.avatar} size="120" class="b-rd-[50%] shadow"/>
  <div class="text-6xl font-semibold">{AUTHOR.name}</div>
  <div>
    <p class="text-5xl">
      {AUTHOR.description}
    </p>
  </div>
  <div class="flex items-center gap-14">
    <Popup href={AUTHOR.email} title="微信">
      <Iconfont name="wechat" size={20} color='green' class='cursor-pointer' />
      <img slot="content" src={AUTHOR.wechat} class="w-160 h-160 b-none"></img>
    </Popup>
    <OutsideLink href={AUTHOR.juejin} title="掘金">
      <Iconfont name="juejin" size={20} color="blue" />
    </OutsideLink>
    <OutsideLink href={AUTHOR.github} title="Github">
      <Icon name="mdi:github" size={24} />
    </OutsideLink>
    <OutsideLink href={AUTHOR.github_old} title="Github（旧）">
      <Icon name="mdi:github" color="gray" size={24} />
    </OutsideLink>
  </div>
</Card>