---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import BodyWrapper from '@/components/BodyWrapper.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import ArticleContent from '@/components/ArticleContent.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
    <script>
      window.addEventListener('scroll', (event) => {
        if(document.documentElement.scrollTop >= 320) {
          document.getElementById('article-header')?.classList.add('sticky-top');
        } else {
          document.getElementById('article-header')?.classList.remove('sticky-top');
        }
      });
    </script>
	</head>
	<body>
    <Header sticky={false} />
		<BodyWrapper>
      <div id="article-header" class="w-full h-full bg-white top-0 p-12 pb-0">
        <h1 class="font-size-18 font-weight-900 text-center">{title}</h1>
        <div class="text-right">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>
      <hr />
			<ArticleContent>
        <article class="article-content">
          <slot />
        </article>
			</ArticleContent>
		</BodyWrapper>
    <Footer />
	</body>
</html>
